window {
  background-color: #F4F1DE
}

button {
  background-color: #F2CC8F;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 30px;
}

button:hover:active {
  background-color: #E07A5F;
  -webkit-box-shadow: inset 0px 0px 3px #303030;
     -mox-box-shadow: inset 0px 0px 3px #303030;
          box-shadow: inset 0px 0px 3px #303030;
  outline: none;
}

button:checked {
  background-color: #81B29A;
  -webkit-box-shadow: inset 0px 0px 3px #303030;
     -mox-box-shadow: inset 0px 0px 3px #303030;
          box-shadow: inset 0px 0px 3px #303030;
  outline: none;
}

button:disabled {
  background-color: #3D405B;
  outline: none;
}

button:disabled label {
  color: #3D405B;
}
