window {
  background-color: #575757;
}

grid {
  background-color: #575757;
}

button {
  background-color: #F2CC8F;
  border-radius: 5px;
  border: 1px solid #464646;
  padding: 10px 20px;
  font-size: 17px;
}

button:hover:active {
  background-color: #EAB69F;
  -webkit-box-shadow: inset 0px 0px 3px #303030;
     -mox-box-shadow: inset 0px 0px 3px #303030;
          box-shadow: inset 0px 0px 3px #303030;
  outline: none;
}

button:checked {
  background-color: #8AB29A;
  -webkit-box-shadow: inset 0px 0px 3px #303030;
     -mox-box-shadow: inset 0px 0px 3px #303030;
          box-shadow: inset 0px 0px 3px #303030;
  outline: none;
}

button:disabled {
  background-color: #3D405B;
  border-color: #363636;
}

button:disabled label {
  color: #9FB4BE;
}
